{% extends 'base.html' %}

{% block content %}
    <div class="row menu">
        <div class="ten columns">
            <input type="text" id="path" value="{{ curdir }}" style="width: 100%" />
        </div>
        <div class="two columns">
            <input type="button" id="open" value="Go" />
        </div>
    </div>

    <div class="row menu">
        <div class="two columns">
            <a href="#" id="newfile">New File</a>
        </div>
        <div class="two columns">
            <a href="#" id="newdir">New Dir</a>
        </div>
        <div class="two columns">
            <a href="#" id="compress">Compress</a>
        </div>
        <div class="two columns">
            <a href="#" id="extract">Extract</a>
        </div>
    </div>

    <table class="u-full-width">
        <thead>
            <tr>
                <th>@</th>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody id="filelist">
        </tbody>
    </table>

    <script>
        function open(path)
        {
            $.ajax({
                url: '/ajax/files/'+path,
                success: function (data) {
                    $("#filelist").html(data);
                    $("#path").val(path);
                }
            });
        }

        $("#path").keypress(function() {
            if ( event.which == 13 ) {
                event.preventDefault();
                open($(this).val());
            }
        });

        $("body").on("click", "#open", function() {
            var path = $("#path").val();
            open(path);
        });

        $("body").on("click", "#newfile", function() {
            var path = prompt("Please enter the file name.", "");
            if (path != null && path != "") {
                path = $("#curdir").val() + '/' + path
                $.ajax({
                    url: '/ajax/newfile/'+btoa(path),
                    success: function (data) {
                    }
                });
            }
        });

        $("body").on("click", "#newdir", function() {
            var path = prompt("Please enter the folder name.", "");
            if (path != null && path != "") {
                path = $("#curdir").val() + '/' + path
                $.ajax({
                    url: '/ajax/newdir/'+btoa(path),
                    success: function (data) {
                    }
                });
            }
        });

        $("body").on("click", "#compress", function() {
            $("#filelist .selected").each(function() {
                console.log($(this).find(".filename").html());
            });
            if (path != null && path != "") {
                $.ajax({
                    url: '/ajax/zip/'+path,
                    success: function (data) {
                    }
                });
            }
        });

        $("body").on("click", "#extract", function() {
            var file = $("#filelist .selected").first().find(".filename").html();

            if(file != null) {
                path = $("#curdir").val() + '/' + file
                $.ajax({
                    url: '/ajax/unzip/'+btoa(path),
                    success: function (data) {
                    }
                });
            }
        });

        $("body").on("click", ".file", function() {
            $(this).toggleClass("selected");
        });

        $("body").on("dblclick", ".file", function() {
            var path = $(this).data("path");
            open(path);
        });

        open('{{ curdir }}');
    </script>
{% endblock %}